<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <div class="conts">
          <textarea class="posted-cont" name="posted1" cols="40" rows="10" readonly><%= @user.profile %></textarea>
        </div>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <div id="home" class="long">
          <%= render 'microposts/all_micropost' %>
      </div>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>