<% @microposts.each do |post| %>
    <div class="posted-place">
        <div class=user-cont>
            <%= gravatar_for post.user %>
            <p><span class="posted-user"><%= post.user.name %></span></p>
        </div>
        <p><span class="posted-title"><%= post.title %></span></p>
        <div class="conts">
            <textarea class="posted-cont" name="posted1" cols="40" rows="10" readonly><%= post.content %></textarea>
            <%= image_tag post.display_image if post.image.attached? %>
        </div>
        <li><%= link_to post.giturl, post.giturl %></li>
        <% if logged_in? %>
            <% if current_user.liked_by?(post.id) %>
                <td><%= link_to 'いいねを外す', destroy_like_path(post), method: :DELETE %></td>
            <% else %>
                <td><%= link_to 'いいね', create_like_path(post), method: :POST %></td>
            <% end %>
        <% else %>

        <% end %>
        <p><span class="posted-like-count"><%= post.likes.count %></span></p>

    </div>
     <!--   
    <tr>
        <td><%= post.user.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
    </tr>
    -->
<% end %>

