<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
        <%= micropost.title %>
        <%= micropost.content %>
        <%= image_tag micropost.display_image if micropost.image.attached? %>
        <% if current_user.liked_by?(micropost.id) %>
          <td><%= link_to 'いいねを外す', destroy_like_path(micropost), method: :DELETE %></td>
        <% else %>
          <td><%= link_to 'いいね', create_like_path(micropost), method: :POST %></td>
        <% end %>
    </span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
            <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
        <% end %>
    </span>
</li>